/* HOME HEADER STYLES  */
@media screen and (max-width: 450px) {
  .container {
    padding: 0 8px;
  }

  .home-header {
    font-size: 13px !important;
  }

  .header-logo {
    display: none;
  }

  /* HOME PAGE NAV STYLES  */
  /* .navbar-links {
    display: none;
  }

  .navbar-roadmap {
    display: none;
  } */

  .navbar-title {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    ) !important;
  }

  .navbar-title h2 {
    font-size: 15px;
    line-height: 21.7px;
    letter-spacing: -0.2px;
  }

  .navbar-title p {
    font-size: 13px;
  }

  .menu-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar-desc {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar-res {
    display: flex;
    height: 100%;
    padding: 24px;
    position: absolute;
    z-index: 10;
    top: 72px;
    right: 0;
    flex-direction: column;
    background-color: #f7f8fd;
  }

  .navbar-links {
    margin-bottom: 24px;
  }

  .option-select {
    z-index: 3;
  }

  /* FEEDBACK ITEM STYLES  */

  .feedback-item {
    position: relative;
    padding: 24px;
    padding-bottom: 72px;
  }

  .feedback-item__top {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 70px;
    height: 32px;
    padding: 14px 16px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .feedback-comments {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }

  /* SINGLE FEEDBACK STYLES  */
  .single-feedback {
    width: 350px;
    padding-top: 24px;
  }

  .add-comment form div {
    font-size: 13px;
  }

  .add-reply {
    padding-left: 0 !important;
    padding-right: 0;
  }

  .add-reply form {
    display: flex;
    flex-direction: column;
  }

  .add-reply form textarea {
    width: 285px !important;
  }

  .create {
    padding-top: 24px;
  }

  .edit__container,
  .create__container {
    max-width: 370px;
  }

  .category-select {
    width: 290px;
  }

  .edit-form__btns,
  .create-form__btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .edit-form__btns a,
  .edit-form__btns button,
  .create-form__btns a,
  .create-form__btns button {
    width: 100%;
    text-align: center;
  }

  .edit-form__btns a,
  .create-form__btns a {
    margin-left: 0;
    margin: 16px auto;
  }

  .register__form input {
    width: 270px;
  }

  .submit-btns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .submit-btns button {
    margin-left: 0;
  }

  .register__form .submit-btns a:first-child {
    margin-right: 0;
  }

  .register__form .submit-btns a {
    margin-top: 10px;
  }
}
